/*     USE COLORS      */
@use "styles/partials/colorVariable" as color;
/*      /USE COLORS      */

/*      USE MIXINS      */
@use "styles/partials/mixin" as mix;
/*      /USE MIXINS      */

/*      IMPORT DIMENSIONS      */
@use "styles/partials/dimensions";
/*      /IMPORT DIMENSIONS      */

/*      FONTS      */
//@use "styles/partials/fonts" as font;
/*      /FONTS      */

/*      VARIABLES      */
//@import "styles/partials/variable";
/*      /VARIABLES      */

/*      FONTS      */
//@import "styles/partials/fonts";
/*      /FONTS      */

/*      VARIABLES      */
@import "styles/partials/color";
/*      /VARIABLES      */

/*      IMPORT SPACING      */
@import "styles/partials/spacing";
/*      /IMPORT SPACING      */

/*      IMPORT BORDERS      */
//@import "styles/partials/border";
/*      /IMPORT BORDERS      */

/*      IMPORT BORDER RADIUS      */
//@import "styles/partials/border-radius";
/*      /IMPORT BORDER RADIUS      */

/*      IMPORT OVERFLOW      */
@import "styles/partials/overflow";
/*      /IMPORT OVERFLOW      */

/*      IMPORT POSITIONS      */
//@import "styles/partials/positions";
/*      /IMPORT POSITIONS      */

/*      IMPORT ROTATION      */
//@import "styles/partials/rotations";
/*      /IMPORT ROTATION      */

/*      IMPORT CUSTOM      */
//@import "styles/partials/custom";
/*      /IMPORT CUSTOM      */

/*      DEFAULTS      */

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

}

h1, h2, h3, h4, h5, h6, .btn, a, caption, .form-control, label {
  font-family: "Segoe UI", serif;
}

h1, h2 {
  font-weight: 600;
}

body, h3, h4 {
  font-weight: 400;
}

h5, h6 {
  font-weight: 700;
}

caption {
  font-weight: 300;
}

//a, caption, .form-control, label {
//}

.show {
  display: block;
}

.hide {
  display: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.no-outline-shadow {
  @include mix.noshadow;
}

.shadow {
  @include mix.shadow;
}

.shadow-light-0 {
  @include mix.shadow-light-0;
}

.shadow-light {
  @include mix.shadow-light;
}

.shadow-light-2 {
  @include mix.shadow-light-2;
}

.shadow-dark {
  @include mix.shadow-dark;
}

.shadow-dark-1 {
  @include mix.shadow-dark-1;
}

.shadow-dark-2 {
  @include mix.shadow-dark-2;
}

small, label {
  color: #8B8A8A;
  font-size: 0.75rem;
}

small {

  &.message {
    margin-top: 0.25rem;
    text-align: right;
    display: block;
  }

}

label {
  margin-bottom: 0.5rem;
  display: block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  text-indent: 0.01px;
  text-overflow: '';
  overflow: hidden;
}

.form-group {
  margin-bottom: 1.825rem;

  &.error {

    label, .form-control, small {
      color: color.$red;
    }

    .form-control::-webkit-input-placeholder {
      color: color.$red;
    }

    .form-control::-moz-placeholder {
      color: color.$red;
    }

    .form-control:-ms-input-placeholder {
      color: color.$red;
    }

    .form-control::-ms-input-placeholder {
      color: color.$red;
    }

    .form-control::placeholder {
      color: color.$red;
    }

  }

}

.btn {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 1.75rem;
  box-sizing: border-box;
  vertical-align: middle;
  @include mix.d-inline-flex;
  @include mix.align-items-center;
  font-weight: 500;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration: none;
  user-select: none;
  text-align: center;
  line-height: 1.25;
  max-height: 45px;
  //max-width: 155px;

  &.btn-block {
    display: block;
    width: 100%;
  }

  .btn-lg {
    padding: 1.125rem 1.875rem;
    max-height: 50px;
    font-size: 1.125rem;
  }

  .btn-sm {
    padding: 0.625rem 1.5rem;
    max-height: 34px;
    font-size: 0.825rem;
  }

  &:hover, &:focus, &:active {
    @include mix.noshadow;
  }

  &.btn-primary {
    @include mix.button-hover(color.$primary);

    &:hover, &:focus, &:active {
      @include mix.button-revert-hover(color.$primary);
    }

  }

  &.btn-primary-revert {
    @include mix.button-revert-hover(color.$primary);

    &:hover, &:focus, &:active {
      @include mix.button-hover(color.$primary);
    }

  }

  &.btn-secondary {
    @include mix.button-hover(color.$secondary);

    &:hover, &:focus, &:active {
      @include mix.button-revert-hover(color.$secondary);
    }

  }

  &.btn-secondary-revert {
    @include mix.button-revert-hover(color.$secondary);

    &:hover, &:focus, &:active {
      @include mix.button-hover(color.$secondary);
    }

  }

  &.btn-light, &.btn-light-revert, &.btn-dark, &.btn-dark-revert {
    border-width: 2px !important;
  }

  &.btn-light {
    background-color: color.$white !important;
    border-color: color.$tertiary !important;
    color: color.$tertiary !important;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      border-color: color.$white !important;
      color: color.$white !important;
    }

  }

  &.btn-light-revert {
    background-color: transparent !important;
    border-color: color.$white !important;
    color: color.$white !important;

    &:hover, &:focus, &:active {
      background-color: color.$white !important;
      border-color: color.$tertiary !important;
      color: color.$tertiary !important;
    }

  }

  &.btn-dark {
    background-color: color.$tertiary !important;
    border-color: color.$white !important;
    color: color.$white !important;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      border-color: color.$tertiary !important;
      color: color.$tertiary !important;
    }

  }

  &.btn-dark-revert {
    background-color: transparent !important;
    border-color: color.$tertiary !important;
    color: color.$tertiary !important;

    &:hover, &:focus, &:active {
      background-color: color.$tertiary !important;
      border-color: color.$white !important;
      color: color.$white !important;
    }

  }

}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padding2 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section-padding3 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.list-unstyled {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

.spacer {
  margin: .5rem auto 1.75rem;
}

.heading-separator {
  width: 100%;
  height: 2px;
  margin: 0.5rem 0;
  position: relative;
  background: #E2E2E2;
  @include mix.flex-both-center;

  .separator-text {
    background: #fff;
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1.6;
  }

}

.heading-separator-small {
  width: 50px;
  height: 1px;
}

.vertical-separator {
  height: 45px;
  width: 1px;
  display: block;
  background: color.$cararra;
}

.section-title {

  h2 {
    font-size: 1.5rem;
    line-height: 1.15;
  }

  .btn {
    border: 2px solid transparent;
    border-bottom: 2px solid color.$tertiary;
    padding-left: 0;
    padding-right: 0;
    transition: all 1s ease-in-out;

    &:hover, &:focus, &:active, &:focus-within {
      border: 2px solid color.$tertiary;
      padding-left: 1.75rem;
      padding-right: 1.75rem;
      transition: all 1s ease-in-out;
    }

  }

}

.custom-radio, .custom-checkbox {

  .custom-control-input {

    &:checked {

      & ~ .custom-control-label {

        &::before {
          color: color.$secondary;
          background: color.$white;
          border-color: color.$caption;
        }

      }

    }

    &:hover, &:focus, &:active {
      @include mix.noshadow;

      & ~ .custom-control-label {

        &::before {
          @include mix.noshadow;
          border-color: color.$primary;
        }

      }

    }

  }

}

.custom-radio {

  .custom-control-input {

    &:checked {

      & ~ .custom-control-label {

        &::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%235e018c'/%3e%3c/svg%3e");
        }

      }

    }

  }

}

.custom-checkbox {

  .custom-control-input {

    &:checked {

      & ~ .custom-control-label {

        &::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%235e018c' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

      }

    }

  }

}

.custom-select {
  position: relative;
  background-image: none;

  &:hover, &:focus, &:active {
    @include mix.noshadow;
    border-color: color.$secondary;
  }

}

.avail-status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-flex;
  box-shadow: 0 0 1px 1px #0000001a;

  &.pulse {
    animation: pulse-animation 2s infinite;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0 rgba(71, 161, 133, 0.25);
    }
    50% {
      box-shadow: 0 0 0 0.3rem rgba(71, 161, 133, 0.125);
    }
    100% {
      box-shadow: 0 0 0 0.6rem rgba(71, 161, 133, 0);
    }
  }

  &.regular {
    background: color.$tertiary;
  }

  &.active {
    background: color.$secondary;
  }

}

/*      /DEFAULTS      */