@use "styles/partials/colorVariable" as color;
@use "styles/partials/mixin" as mix;

/* DESKTOP FIRST MEDIA QUERIES */

/* Extra Large devices (desktops, less than 1400px)*/
@media (max-width: 1399.98px) {

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

  .section-padding {
    @include mix.noshadow;
    padding-top: 75px;
    padding-bottom: 75px;
  }

}

/* Custom Media Query (desktops, less than 1024px)*/
@media (max-width: 1023.98px) {
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .banner-section {
    min-height: unset;

    .slideshow-container {
      margin-top: 70px;
      height: auto;
      top: unset;
    }

  }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  footer {

    .copyright-area {

      .social-wrap {

        .list-social {

          li {
            margin: 0 0.5rem;
          }

        }

      }

      .copyright-content {

        .copyright-content-inner {

          span {
            margin: 0.25rem;
          }

        }

        .footer-nav {

          ul {

            li {
              padding: 0.25rem 0.5rem;
              border-right: none;
            }

          }

        }

      }

    }

  }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}


/* Customized Media Queries (phones, less than 400px) */

/* Extra small devices (portrait phones, less than 400px)*/
@media (max-width: 320px) {

}


/* Customized Media Queries (phones, less than 400px) */

/* /DESKTOP FIRST MEDIA QUERIES */

/**/

/* MOBILE FIRST MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 400px) {
}

@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .navbar-nav .nav-link {
    color: color.$white;
    text-decoration: none;
  }

  .slide-item-inner {
    @include mix.flex-row;
    @include mix.align-items-center;
    @include mix.justify-content-between;
  }

}


/* Customized Media Queries (Min Width) */

@media (min-width: 1024px) {
}

/* Customized Media Queries (Min Width) */

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}


/* Extra extra large devices (1400px and up)*/
@media (min-width: 1400px) {

}

/* Extra extra extra large devices (4K and up)*/
@media (min-width: 2160px) {
}

/* /MOBILE FIRST MEDIA QUERIES */


/**/


/* MIXED SCREEN MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 480px) {
}

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 320px) and (max-width: 767.98px) {
}

@media (min-width: 320px) and (max-width: 767.98px) {
}

@media (min-width: 320px) and (max-width: 991.98px) {
}

@media (min-width: 320px) and (max-width: 1023.98px) {
}

@media (min-width: 320px) and (max-width: 1199.98px) {
}

@media (min-width: 320px) and (max-width: 1399.98px) {
}

@media (min-width: 480px) and (max-width: 575.98px) {
}

@media (min-width: 480px) and (max-width: 767.98px) {
}

@media (min-width: 480px) and (max-width: 991.98px) {
}

@media (min-width: 480px) and (max-width: 1023.98px) {
}

@media (min-width: 480px) and (max-width: 1199.98px) {
}

@media (min-width: 480px) and (max-width: 1399.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 576px) and (max-width: 991.98px) {
}

@media (min-width: 576px) and (max-width: 1023.98px) {
}

@media (min-width: 576px) and (max-width: 1199.98px) {
}

@media (min-width: 576px) and (max-width: 1399.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 768px) and (max-width: 1023.98px) {
}

@media (min-width: 768px) and (max-width: 1199.98px) {
}

@media (min-width: 768px) and (max-width: 1399.98px) {
}

@media (min-width: 992px) and (max-width: 1024.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 992px) and (max-width: 1399.98px) {
}

@media (min-width: 1024px) and (max-width: 1199.98px) {
}

@media (min-width: 1024px) and (max-width: 1399.98px) {
}

/* /MIXED SCREEN MEDIA QUERIES */

/**/

/* COMBINED MEDIA QUERIES */

@media (min-width: 576px), (min-width: 768px), (min-width: 992px), (min-width: 1024px), (min-width: 1200px) {
}

/* /COMBINED MEDIA QUERIES */
