/*     USE COLORS      */
@use "styles/variables/mixin" as mix;
/*      /USE MIXINS      */

body {

  .page-registration-container {

    .page-registration {

      .navbar-brand {
        margin: auto;
        text-align: center;
        display: block;
      }

      .login-wrap {

        .form-registration {

          .form-title, .social-btn-wrap {
            text-align: center;
          }

          .form-title {
            margin: 2rem auto 2.5rem;
          }

          .dob-wrap {

          }

          .auth-link-wrap {
            margin: 0.5rem auto 1.75rem;
          }

          .social-btn-wrap {
            margin: 2rem auto 1.75rem;

            .social-btn {
              border-radius: 1.565rem;

              span {

                &.icon-wrap {
                  display: inline-flex;
                  margin-right: 0.5rem;
                  border-radius: 50%;
                  border: 1px solid #E2E2E2;
                  padding: 0.35rem;
                }

                &.text-wrap {

                }

              }

            }

          }

          .signup-wrap, .signin-wrap {
            margin-bottom: 1rem;
          }

        }

      }

    }

  }

}

/* DESKTOP FIRST MEDIA QUERIES */

/* Extra Large devices (desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}

/* Custom Media Query (desktops, less than 1024px)*/
@media (max-width: 1023.98px) {
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/* Customized Media Queries (phones, less than 400px) */

/* Extra small devices (portrait phones, less than 400px)*/
@media (max-width: 320px) {
}

/* Customized Media Queries (phones, less than 400px) */

/* /DESKTOP FIRST MEDIA QUERIES */

/**/

/* MOBILE FIRST MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 400px) {
}

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  body {


  }

}


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}


/* Customized Media Queries (Min Width) */

@media (min-width: 1024px) {
}

/* Customized Media Queries (Min Width) */

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}


/* Extra extra large devices (1400px and up)*/
@media (min-width: 1400px) {

}


/* /MOBILE FIRST MEDIA QUERIES */