@use "styles/variables/mixin" as mix;

body {

  .page-registration-container {

    .page-registration {

      .navbar-brand {
        margin: auto;
        text-align: center;
        display: block;
      }

      .login-wrap {
        padding-inline: 0;
        padding-top: calc(20px + (40 - 20) * (100vw - 320px) / (1920 - 320));
        padding-bottom: calc(25px + (50 - 25) * (100vw - 320px) / (1920 - 320));

        .form-registration {
          padding: calc(16px + (30 - 16) * (100vw - 320px) / (1920 - 320));

          .form-title, .social-btn-wrap {
            text-align: center;
          }

          .form-title {
            margin: 2rem auto 2.5rem;
          }

          .dob-wrap {

          }

          .auth-link-wrap {
            margin-inline: auto;
            margin-top: calc(4px + (8 - 4) * (100vw - 320px) / (1920 - 320));
            margin-bottom: calc(20px + (28 - 20) * (100vw - 320px) / (1920 - 320));
          }

          .social-btn-wrap {
            margin: 2rem auto 1.75rem;

            .social-btn {
              border-radius: 1.565rem;

              span {

                &.icon-wrap {
                  display: inline-flex;
                  margin-right: 0.5rem;
                  border-radius: 50%;
                  border: 1px solid #E2E2E2;
                  padding: 0.35rem;
                }

                &.text-wrap {

                }

              }

            }

          }

          .signup-wrap, .signin-wrap {
            margin-bottom: calc(10px + (16 - 10) * (100vw - 320px) / (1920 - 320));
          }

        }

      }

    }

  }

}