//  Font Family Declare Start

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../../assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins-Black";
  src: url("../../assets/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: "Poppins-Italic";
  src: url("../../assets/fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Thin";
  src: url("../../assets/fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../../assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../../assets/fonts/Poppins-ExtraLight.ttf");
}

/*  SourceSansPro   */

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: "SourceSansPro-Black";
  src: url("../../assets/fonts/SourceSansPro-Black.ttf");
}

@font-face {
  font-family: "SourceSansPro-Italic";
  src: url("../../assets/fonts/SourceSansPro-Italic.ttf");
}

@font-face {
  font-family: "SourceSansPro-Light";
  src: url("../../assets/fonts/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: "SourceSansPro-ExtraLight";
  src: url("../../assets/fonts/SourceSansPro-ExtraLight.ttf");
}

/*  Roboto   */
@font-face {
  font-family: "Roboto-Regular";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../../assets/fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("../../assets/fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../../assets/fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../../assets/fonts/Roboto-Light.ttf");
}

//  Font Family Declare End

// Font Family Variable Start

/* Poppin */

$font-poppins-black: Poppins-Black, Arial, Helvetica, sans-serif;

$font-poppins-extrabold: Poppins-ExtraBold, Arial, Helvetica, sans-serif;

$font-poppins-bold: Poppins-Bold, Arial, Helvetica, sans-serif;

$font-poppins-semibold: Poppins-SemiBold, Arial, Helvetica, sans-serif;

$font-poppins: Poppins, Arial, Helvetica, sans-serif;

$font-poppins-italic: Poppins-Italic, Arial, Helvetica, sans-serif;

$font-poppins-medium: Poppins-Medium, Arial, Helvetica, sans-serif;

$font-poppins-light: Poppins-Light, Arial, Helvetica, sans-serif;

$font-poppins-extralight: Poppins-ExtraLight, Arial, Helvetica, sans-serif;

$font-poppins-thin: Poppins-Thin, Arial, Helvetica, sans-serif;

/*  SourceSansPro */

$font-sourcesanspro-black: SourceSansPro-Black, Arial, Helvetica, sans-serif;

$font-sourcesanspro-semibold: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;

$font-sourcesanspro-bold: SourceSansPro-Bold, Arial, Helvetica, sans-serif;

$font-sourcesanspro: SourceSansPro-Regular, Arial, Helvetica, sans-serif;

$font-sourcesanspro-italic: SourceSansPro-Italic, Arial, Helvetica, sans-serif;

$font-sourcesanspro-light: SourceSansPro-Light, Arial, Helvetica, sans-serif;

$font-sourcesanspro-extralight: SourceSansPro-ExtraLight, Arial, Helvetica, sans-serif;

/*  Roboto */

$font-roboto-italic: Roboto-Italic, Arial, Helvetica, sans-serif;

$font-roboto-black: Roboto-Black, Arial, Helvetica, sans-serif;

$font-roboto-bold: Roboto-Bold, Arial, Helvetica, sans-serif;

$font-roboto-medium: Roboto-medium, Arial, Helvetica, sans-serif;

$font-roboto: Roboto-Regular, Arial, Helvetica, sans-serif;

$font-roboto-light: Roboto-Light, Arial, Helvetica, sans-serif;

$font-roboto-thin: Roboto-Thin, Arial, Helvetica, sans-serif;

// Font Family Variable End

// Font Family Classes Start

/* Poppin */

.font-poppins-black {
  font-family: $font-poppins-black;
}

.font-poppins-extrabold {
  font-family: $font-poppins-extrabold;
}

.font-poppins-bold {
  font-family: $font-poppins-bold;
}

.font-poppins-semibold {
  font-family: $font-poppins-semibold;
}

.font-poppins-medium {
  font-family: $font-poppins-medium;
}

.font-poppin {
  font-family: $font-poppins;
}

.font-poppins-italic {
  font-family: $font-poppins-italic;
}

.font-poppins-light {
  font-family: $font-poppins-light;
}

.font-poppins-extralight {
  font-family: $font-poppins-extralight;
}

.font-poppins-thin {
  font-family: $font-poppins-thin;
}


/* SourceSansPro */
.font-sourcesanspro {
  font-family: $font-sourcesanspro;
}

.font-sourcesanspro-semibold {
  font-family: $font-sourcesanspro-semibold;
}

.font-sourcesanspro-bold {
  font-family: $font-sourcesanspro-bold;
}

.font-sourcesanspro-black {
  font-family: $font-sourcesanspro-black;
}

.font-sourcesanspro-italic {
  font-family: $font-sourcesanspro-italic;
}

.font-sourcesanspro-light {
  font-family: $font-sourcesanspro-light;
}

.font-sourcesanspro-extralight {
  font-family: $font-sourcesanspro-extralight;
}

/* Roboto */
.font-roboto-black {
  font-family: $font-roboto-black;
}

.font-roboto-bold {
  font-family: $font-roboto-bold;
}

.font-roboto-medium {
  font-family: $font-roboto-medium;
}

.font-roboto-italic {
  font-family: $font-roboto-italic;
}

.font-roboto {
  font-family: $font-roboto;
}

.font-roboto-light {
  font-family: $font-roboto-light;
}

.font-roboto-thin {
  font-family: $font-roboto-thin;
}

// Font Family Classes End

//  Font Weight Addition

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-semibold {
  font-weight: 600 !important;
}

.font-weight-extrabold {
  font-weight: 800 !important;
}

//  /Font Weight Addition

//  Font Size Start

@for $i from 0 through 75 {

  .font-size-#{$i} {
    font-size: #{$i/16}rem !important;
  }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  @for $i from 0 through 75 {

    .font-size-sm-#{$i} {
      font-size: #{$i/16}rem !important;
    }

  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  @for $i from 0 through 75 {

    .font-size-md-#{$i} {
      font-size: #{$i/16}rem !important;
    }

  }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  @for $i from 0 through 75 {

    .font-size-lg-#{$i} {
      font-size: #{$i/16}rem !important;
    }

  }

}

/* Customized Media Queries (min Width, 1024px and up) */
@media (min-width: 1024px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  @for $i from 0 through 75 {

    .font-size-xl-#{$i} {
      font-size: #{$i/16}rem !important;
    }

  }

}

/* Extra extra large devices (1440px and up)*/
@media (min-width: 1440px) {

  @for $i from 0 through 75 {

    .font-size-xxl-#{$i} {
      font-size: #{$i/16}rem !important;
    }

  }

}

/* Extra extra extra large devices (4K and up)*/
@media (min-width: 2160px) {
}

//  /Font Size End
