@use '../variables/variable' as vars;

//Overflow Start

@each $nameFlow, $valFlow in vars.$overflow-range {

  .overflow-#{$nameFlow} {
    overflow: $valFlow !important;
  }

  .overflow-x-#{$nameFlow} {
    overflow-x: $valFlow !important;
  }

  .overflow-y-#{$nameFlow} {
    overflow-x: $valFlow !important;
  }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  @each $nameFlow, $valFlow in vars.$overflow-range {

    .overflow-sm-#{$nameFlow} {
      overflow: $valFlow !important;
    }

    .overflow-sm-x-#{$nameFlow} {
      overflow-x: $valFlow !important;
    }

    .overflow-sm-y-#{$nameFlow} {
      overflow-x: $valFlow !important;
    }

  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  @each $nameFlow, $valFlow in vars.$overflow-range {

    .overflow-md-#{$nameFlow} {
      overflow: $valFlow !important;
    }

    .overflow-md-x-#{$nameFlow} {
      overflow-x: $valFlow !important;
    }

    .overflow-md-y-#{$nameFlow} {
      overflow-x: $valFlow !important;
    }

  }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  @each $nameFlow, $valFlow in vars.$overflow-range {

    .overflow-lg-#{$nameFlow} {
      overflow: $valFlow !important;
    }

    .overflow-lg-x-#{$nameFlow} {
      overflow-x: $valFlow !important;
    }

    .overflow-lg-y-#{$nameFlow} {
      overflow-x: $valFlow !important;
    }

  }

}

/* Customized Media Queries (min Width, 1024px and up) */
@media (min-width: 1024px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  @each $nameFlow, $valFlow in vars.$overflow-range {

    .overflow-xl-#{$nameFlow} {
      overflow: $valFlow !important;
    }

    .overflow-xl-x-#{$nameFlow} {
      overflow-x: $valFlow !important;
    }

    .overflow-xl-y-#{$nameFlow} {
      overflow-x: $valFlow !important;
    }

  }

}

/* Extra extra large devices (1400px and up)*/
@media (min-width: 1400px) {

  @each $nameFlow, $valFlow in vars.$overflow-range {

    .overflow-xxl-#{$nameFlow} {
      overflow: $valFlow !important;
    }

    .overflow-xxl-x-#{$nameFlow} {
      overflow-x: $valFlow !important;
    }

    .overflow-xxl-y-#{$nameFlow} {
      overflow-x: $valFlow !important;
    }

  }

}

/* Extra extra extra large devices (4K and up)*/
@media (min-width: 2160px) {
}

//Overflow End
