@use '../variables/variable' as vars;
//Position Start

@each $namePos, $valPos in vars.$position-range {

  .position-#{$namePos} {
    position: $valPos !important;
  }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  @each $namePos, $valPos in vars.$position-range {

    .position-sm-#{$namePos} {
      position: $valPos !important;
    }

  }

}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  @each $namePos, $valPos in vars.$position-range {

    .position-md-#{$namePos} {
      position: $valPos !important;
    }

  }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  @each $namePos, $valPos in vars.$position-range {

    .position-lg-#{$namePos} {
      position: $valPos !important;
    }

  }

}

/* Customized Media Queries (min Width, 1024px and up) */
@media (min-width: 1024px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  @each $namePos, $valPos in vars.$position-range {

    .position-xl-#{$namePos} {
      position: $valPos !important;
    }

  }

}

/* Extra extra large devices (1400px and up)*/
@media (min-width: 1400px) {

  @each $namePos, $valPos in vars.$position-range {

    .position-xxl-#{$namePos} {
      position: $valPos !important;
    }

  }

}

/* Extra extra extra large devices (4K and up)*/
@media (min-width: 2160px) {
}

//Position End
