@use "variables/mixin" as mix;

/* DESKTOP FIRST MEDIA QUERIES */

/* Extra Large devices (desktops, less than 1400px)*/
@media (max-width: 1399.98px) {

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

  .section-padding {
    @include mix.noshadow;
  }

}

/* Custom Media Query (desktops, less than 1024px)*/
@media (max-width: 1023.98px) {
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

  body {

    header {

      &.site-header {

        .navbar {

          .navbar-collapse {

            &.show {
              left: 0;
              top: 71px;
              width: 100%;
              position: fixed;

              .navbar-nav {
                margin: 1.25rem 0;

                li {

                  a {
                    margin: 0.25rem 1.25rem;

                    &.nav-link {
                      text-decoration: none;
                    }

                  }

                }

              }

              .registration-buttons {
                margin: 0 auto 1.25rem;
                text-align: center;
              }

            }

          }

        }

      }

    }

    .banner-section {
      min-height: unset;

      .slideshow-container {
        margin-bottom: 50px;
        margin-top: 70px;
        height: auto;
        top: unset;

        .slide-content {
          max-width: 100%;
          margin: auto;

          .slide-text {
            max-width: 100%;
          }

        }

      }

    }

  }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  body {

    footer {

      .copyright-area {

        .social-wrap {

          .list-social {

            li {
              margin: 0 0.5rem;
            }

          }

        }

        .copyright-content {

          .copyright-content-inner {

            span {
              margin: 0.25rem;
            }

          }

          .footer-nav {

            ul {

              li {
                padding: 0.25rem 0.5rem;
                border-right: none;
              }

            }

          }

        }

      }

    }

  }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Customized Media Queries (phones, less than 400px) */

/* Extra small devices (portrait phones, less than 400px)*/
@media (max-width: 320px) {

}

/* Customized Media Queries (phones, less than 400px) */

/* /DESKTOP FIRST MEDIA QUERIES */

/**/

/* MOBILE FIRST MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 400px) {
}

@media (min-width: 576px) {

  body {
    
    .mobile-cat-section {

      .mobile_cat_wrap {

        .mobile_cat_item {
          flex: 0 1 33.3%;
        }

      }

    }

  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  body {

    .page-registration-container {
      overflow: hidden;

      .page-registration {
        width: 100%;
        height: 100vh;
        @include mix.d-flex;
        @include mix.flex-column;
        @include mix.justify-content-between;

        .navbar-brand {
          margin: 0;
          text-align: left;
          display: inline-block;
        }

        header, footer {
          z-index: 1;
          position: relative;
        }

        &::before {
          content: '';
          position: absolute;
          @include mix.bg-nrpt-center-cover;
        }

        &.page-login {

          &::before {
            background-image: url("../images/bg-login.png");
            background-position: 35% 50%;
            @include mix.fill-100;
            left: 0;
          }

        }

        &.page-signup {

          &::before {
            background-image: url("../images/bg-signup.png");
            width: 100%;
            height: 98.5%;
            left: 0;
          }

          .login-wrap {
            padding: 0;
          }

        }

        .login-wrap {
          //min-height: 600px;
          z-index: 10;

          .form-registration {
            min-width: 350px;
            max-width: 350px;
            box-sizing: border-box;
          }

        }

      }

    }

    .slide-item-inner {
      @include mix.flex-row;
      @include mix.align-items-center;
      @include mix.justify-content-between;
    }

    .section-title {

      a {

        &.btn {
          margin: 0;
        }

      }

    }

    .mobile-cat-section {

      .mobile_cat_wrap {

        .mobile_cat_item {
          flex: 0 1 16.6%;
        }

      }

    }

    .reviews-section {

      .review_wrap {
        margin-bottom: 125px;

        .review_wrap_row {
          min-height: 500px;

          :nth-child(even) {
            top: 100px;
            margin-bottom: 0;
          }

          .review_card {
            margin-bottom: 0;

            .card-body {

              .review_desc {
                max-height: 115px;
              }

            }

          }

        }

      }

    }

    .join-hands-section {

      .join_hands_wrap {
        min-height: 650px;

        .bgImg {
          top: 0;
          left: 0;
          z-index: 1;
          display: block;
          position: absolute;
          @include mix.fill-100;
        }

        .join_hands_wrap_row {
          position: relative;
          z-index: 10;
        }

      }

    }

  }

}


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}


/* Customized Media Queries (Min Width) */

@media (min-width: 1024px) {
}

/* Customized Media Queries (Min Width) */

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  body {

    .page-registration-container {

      .page-registration {

        &.page-login {

          &::before {
            background-position: 0% 45%;
          }

        }

        &.page-signup {

          &::before {
            background-position: center -3px;
          }

        }

      }

    }

  }

}


/* Extra extra large devices (1400px and up)*/
@media (min-width: 1400px) {

}

/* Extra extra extra large devices (4K and up)*/
@media (min-width: 2160px) {
}

/* /MOBILE FIRST MEDIA QUERIES */


/**/


/* MIXED SCREEN MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 480px) {
}

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 320px) and (max-width: 767.98px) {
}

@media (min-width: 320px) and (max-width: 767.98px) {
}

@media (min-width: 320px) and (max-width: 991.98px) {
}

@media (min-width: 320px) and (max-width: 1023.98px) {
}

@media (min-width: 320px) and (max-width: 1199.98px) {
}

@media (min-width: 320px) and (max-width: 1399.98px) {
}

@media (min-width: 480px) and (max-width: 575.98px) {
}

@media (min-width: 480px) and (max-width: 767.98px) {
}

@media (min-width: 480px) and (max-width: 991.98px) {
}

@media (min-width: 480px) and (max-width: 1023.98px) {
}

@media (min-width: 480px) and (max-width: 1199.98px) {
}

@media (min-width: 480px) and (max-width: 1399.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 576px) and (max-width: 991.98px) {
}

@media (min-width: 576px) and (max-width: 1023.98px) {
}

@media (min-width: 576px) and (max-width: 1199.98px) {
}

@media (min-width: 576px) and (max-width: 1399.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 768px) and (max-width: 1023.98px) {
}

@media (min-width: 768px) and (max-width: 1199.98px) {
}

@media (min-width: 768px) and (max-width: 1399.98px) {
}

@media (min-width: 992px) and (max-width: 1024.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 992px) and (max-width: 1399.98px) {
}

@media (min-width: 1024px) and (max-width: 1199.98px) {
}

@media (min-width: 1024px) and (max-width: 1399.98px) {
}

/* /MIXED SCREEN MEDIA QUERIES */

/**/

/* COMBINED MEDIA QUERIES */

@media (min-width: 576px), (min-width: 768px), (min-width: 992px), (min-width: 1024px), (min-width: 1200px) {
}

/* /COMBINED MEDIA QUERIES */
