/*      MIXINS      */
@use "../partials/colorVariable" as color;
@use "../partials/mixin" as mix;
/*      /MIXINS      */

/*      HEADER      */

/*      /HEADER      */

header {
  position: absolute;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;

  .site-header {

    &.fixed-header {

    }

  }

}
