/*      MIXINS      */
@use "../variables/colorVariable" as color;
@use "../variables/mixin" as mix;
/*      /MIXINS      */

/*      HEADER      */
body {

  header {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;

    &.site-header {
      z-index: 1;

      &.fixed-header {
        z-index: 99;
        position: fixed;
        background: rgba(0, 0, 0, 0.75);
      }

      .navbar {

        .navbar-nav {

          li {

            a {

            }

            &.active {
              background-color: transparent;

              a {

              }

            }

          }

        }

        .navbar-toggler {
          cursor: pointer;
        }

      }

    }

  }

}
/*      /HEADER      */

