@use "../partials/colorVariable" as color;
@use "../partials/mixin" as mix;

.select2-container {

  &.select2-container--open {

    .select2-dropdown {

      &.select2-dropdown--below {
        border-top: 1px solid #ddd;
        top: 0.25rem;
      }

    }

  }

}

/* HOME */

/*      Banner section      */

.banner-section {
  height: 600px;
  background-image: linear-gradient(135deg, color.$primary, color.$primary, color.$secondary ,color.$secondary);
}

/*      /Banner section      */

/* HOME */
